#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #343a40!important;
    text-align: center;
    
}

.footertext{
    color: white;
    text-align: center;
    margin-top: 10px;

}
